<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	 version="3.0">

    <display-name>SimpleJspServletDB</display-name>  
  
    <welcome-file-list>  
      <welcome-file>index.jsp</welcome-file>  
    </welcome-file-list>  

    <servlet>  
      <description></description>  
      <display-name>UserController</display-name>  
      <servlet-name>UserController</servlet-name>  
      <servlet-class>org.vladimir.controller.UserController</servlet-class>  
    </servlet>  

    <servlet-mapping>  
      <servlet-name>UserController</servlet-name>  
      <url-pattern>/UserController</url-pattern>  
    </servlet-mapping>  
    
</web-app>