/* 
    Created on : Dec 29, 2014, 4:57:20 PM
    Author     : vladimir
*/

/*book list page styles */
#centerColumn {
    width: 100%;
}

#centerColumn h1 {
    text-align: center;
}

table#bookTable {
    margin: 0 auto; /* or margin: 0 auto 0 auto */
    width: 97%;
}

table#bookTable tr td {
    text-align: left;
    width: 100px;
}

table#bookTable tr td p {
    margin-left: 30px;
    margin-top: 5px;
}

table#bookTable tbody tr td input.book-quantity{
    text-align: center;
    width: 40px;
}

table#bookTable {
    margin: 0 auto 0 auto;
    width: 800px;
}

div#nav-buttons {
    height: 70px;
    margin: 0 auto;
}

div#nav-buttons ul li{
    padding-left: 18%;
    padding-right: 1%;
}