/* 
    Created on : Dec 28, 2014, 2:11:06 PM
    Author     : vladimir
*/

/*category list page styles */
#centerColumn {
    width: 100%;
    text-align: left;
}

#centerColumn h1 {
    text-align: center;
}

#nav-buttons {
    margin-left: 23%;
}

#categoryTable {
    margin: 0 auto; /* or margin: 0 auto 0 auto */
}

#categoryTable tr td {
    text-align: left;
    width: 400px;
}

#categoryTable tr td p {
    margin-left: 30px;
    margin-top: 5px;
}