/* 
    Created on : Jun 27, 2014, 9:35:00 PM
    Author     : Vladimir
*/

#book-list {
    width: 80%;
    border: 1px solid;
    padding: 2%;
    margin-left: auto;
    margin-right: auto;
}
    
table { 
    border: 1px solid black;
}

#book-list-table td {
    border-bottom: 0.5% solid red;
    border-top: 0.5% solid black;
    border-color: rgb(160,160,255);
}

#book-list-table tr.odd, #book-list-table tr.odd .sorting_1 {
    background-color: #C6E2FF;
}

#book-list-table tr.even, #book-list-table tr.even .sorting_1 {
    background-color: white;
}

#update-book-modal .modal-dialog {
    border: 1px solid black;
    border-radius: 2%;
    width: 30%;
}

#update-book-modal .modal-header {
    background-color: #D3D3D3;
}

#update-book-modal .modal-body h5 {
    text-align: center;
}

#update-book-modal .modal-body {
    border-top: 1px black solid;
}

td.details-control {
    background: url('../images/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('../images/details_close.png') no-repeat center center;
}

#book-list-table tbody tr td p {
    text-align: left;
    margin-left: 10%;
}

#book-list-table tbody tr td table {
    border-top: 1px;
    border-bottom: 1px;
    border-left: 0px;
    border-right: 0px;
    text-align: left;
    width: 90%;
}