/* 
    Created on : Jun 3, 2014, 6:24:45 PM
    Author     : Vladimir
*/

/* index page styles */
#indexLeftColumn {
    padding: 1%;
    height: 500px;//400px;
    width: 350px;
    float: left;
    background: #ccc;
}

#indexLeftColumn p {
    font-size: small;
}

#indexLeftColumn a {
    font-size: large;
}

#indexRightColumn {
    height: 500px;//400px;
    width: 500px;
    float: left;
    background: #eee;
}

.categoryBox {
    height: 176px;
    width: 212px;
    margin: 21px 14px 6px;
    float: inherit;
    background: #ccc;
    border-radius: 3px;
}

.categoryLabelText {
    line-height: 150%;
    font-size: x-large;
}

.categoryListBox {
    height: 50px;
    width: 150px;//212px;
    margin: 430px 170px 6px;
    padding-top: 5px;
    background: #ccc;
    border-radius: 3px;
}

.categoryListLabelText {
    line-height: 150%;
    font-size: x-large;
}

#leftColumn-menu-items {
    border-top: 1px black solid;
    margin-left: 20%;
    text-align: center;
    width: 60%;
    padding-top: 7%;
    font-size: medium;
}