/* 
    Created on : Jun 1, 2014, 5:41:49 PM
    Author     : Vladimir
*/

/* confirmation page styles */
#confirmationText {
    margin: 0 20px 20px;
    padding: 10px;
    background-color: #f5eabe;
    float: left;
    width:540px;
}

.summaryColumn {
    margin-top: 15px;
    width: 50%;
    float: left;
}

#orderSummaryTable {
    width: 100%;
    text-align: left;
    height: 200px;
}

#deliveryAddressTable {
    width: 70%;
    margin-left: 15%;
    text-align: left;
    height: 200px;
}